.box {
    height: 274px;
    background-color: #FCF5C7;
    line-height: 30px;
    border: none;
    border-radius: 0;
    resize: none;
    margin-top: -20px;
    margin-bottom: 70px;

}

.title {
    width: 412px;
    height: 39px;
    background-color: #FCF5C7;
    border: none;
    border-radius: 0;
    margin-top: 28px;
}

.body {
    width: 412px;
    background-image: repeating-linear-gradient(to right, transparent 5px, transparent 1px), linear-gradient(#5CC9EF 1px, transparent 1px);
    background-size: 20px 30px;
    height: 235px;
    background-color: #FCF5C7;
    line-height: 30px;
    border: none;
    border-radius: 0;
    resize: none;
    margin-bottom: 15px;
   


}